  <header class="navbar bg-base-100 shadow-md">
    <div class="flex-1">
      <%= link_to t('app_name'), root_path, class: "text-xl font-bold" %>
    </div>
    <nav class="flex-none">
      <ul class="menu menu-horizontal px-1 space-x-2">
        <li><%= link_to "ホーム", root_path, class: "btn btn-ghost btn-sm" %></li>
        <li><%= link_to "カレンダー", calendar_path, class: "btn btn-ghost btn-sm" %></li>
        <li><%= link_to "献立相談", new_meal_search_path, class: "btn btn-ghost btn-sm" %></li>
        <li><button class="btn btn-ghost btn-sm" disabled>ハレ投稿</button></li>
        <li><%= link_to "プロフィール", profile_path, class: "btn btn-ghost btn-sm" %></li>
        <li>
          <%= button_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-primary btn-sm" %>
        </li>
      </ul>
    </nav>
  </header>